name: Lint CI

on:
  push:
    branches: [ "master" ]
    paths: &lint_paths
      - "src/*.in"
  pull_request:
    branches: [ "master" ]
    paths: *lint_paths

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install shellcheck and perl modules
      run: sudo apt-get install -y shellcheck libyaml-libyaml-perl

    - name: Run shellcheck on shell scripts
      run: |
        cd src
        shellcheck -s sh finddepslinked.in finddisowned.in findredundantdeps.in pkgdiff.in pkglint.in

    - name: Check perl scripts syntax
      run: |
        cd src
        perl -c finddisappeared.in
        perl -c finddepsdistmeta.in

